# Obligatoire gpt-4.1-mini gpt-5-mini 
AZURE_OPENAI_ENDPOINT=https://votre-resource.openai.azure.com                                                                                   
AZURE_OPENAI_API_KEY=votre-cle                                                                                                                  
                                                                                                                                                
# Si AI Foundry séparé model-router 
AZURE_AI_FOUNDRY_ENDPOINT=https://votre-foundry.cognitiveservices.azure.com                                                                     
AZURE_API_KEY=votre-cle-foundry 